<%- include('./layout/admin_header.ejs')%>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Dashboard</h2>
                        <p>Whole data about your business here</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Total Revenue</h6>
                                    <span>₹<%=totalrevenue[0].total%></span>
                                    <span class="text-sm"> Shipping fees are not included </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Orders</h6>
                                    <span><%=ordercount%></span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                              <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Current Week Revenue</h6>
                                    <span>₹<%=currentWeekRevenue[0].total%></span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Products</h6>
                                    <span><%=productcount%></span>
                                    <span class="text-sm"> In <b><%=categoryCount%></b> Categories </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Current Month Earning</h6>
                                    <span>₹<%=monthlyRevenue[0].total%></span>
                                    <span class="text-sm"> Based in your local time. </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card card-body mb-4">
                          <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                              <div class="text">
                                  <h6 class="mb-1 card-title">Today Revenue</h6>
                                  <span>₹<%=todayRevenue[0].total%></span>
                              </div>
                          </article>
                      </div>
                  </div>
                   
                </div>
                <div class="row">
                    <div class="col-xl-8 col-lg-12">
                        <div class="card mb-4">
                           
                          <article class="card-body">
                           
                                <div id="myChart1"></div>
                                
                            </article>
                      
                        </div>

                       
                    </div>
                    
                    <div class="col-xl-4 col-lg-12">
                        <div class="card mb-4">
                            <article class="card-body">
                                <h5 class="card-title">Revenue Base on Area</h5>
                               <div id="myChart3"></div>
                            </article>
                        </div>
                       
                    </div>
                    <div class="col-xl-8 col-lg-12">
                        <div class="card mb-4">
                           
                            <article class="card-body">
                                <h5 class="card-title">User statistics</h5>
                                <div id="myChart2"></div>
                                
                            </article>
                      
                        </div>

                       
                    </div>
                </div>
               
                </div>
      <input type="hidden" id="jan" value="<%=salesData[0]%>" />
      <input type="hidden" id="feb" value="<%=salesData[1]%>" />
      <input type="hidden" id="mar" value="<%=salesData[2]%>" />
      <input type="hidden" id="apr" value="<%=salesData[3]%>" />
      <input type="hidden" id="may" value="<%=salesData[4]%>" />
      <input type="hidden" id="jun" value="<%=salesData[5]%>" />
      <input type="hidden" id="jul" value="<%=salesData[6]%>" />
      <input type="hidden" id="aug" value="<%=salesData[7]%>" />
      <input type="hidden" id="sep" value="<%=salesData[8]%>" />
      <input type="hidden" id="oct" value="<%=salesData[9]%>" />
      <input type="hidden" id="nov" value="<%=salesData[10]%>" />
      <input type="hidden" id="dec" value="<%=salesData[11]%>" />
      

      <!-- users by year -->
      <input type="hidden" id="jans" value="<%=userdata[0]%>" />
      <input type="hidden" id="febs" value="<%=userdata[1]%>" />
      <input type="hidden" id="mars" value="<%=userdata[2]%>" />
      <input type="hidden" id="aprs" value="<%=userdata[3]%>" />
      <input type="hidden" id="mays" value="<%=userdata[4]%>" />
      <input type="hidden" id="juns" value="<%=userdata[5]%>" />
      <input type="hidden" id="juls" value="<%=userdata[6]%>" />
      <input type="hidden" id="augs" value="<%=userdata[7]%>" />
      <input type="hidden" id="seps" value="<%=userdata[8]%>" />
      <input type="hidden" id="octs" value="<%=userdata[9]%>" />
      <input type="hidden" id="novs" value="<%=userdata[10]%>" />
      <input type="hidden" id="decs" value="<%=userdata[11]%>" />
                <!-- <div class="pagination-area mt-30 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div> -->
            </section>
             <%- include('./layout/admin_footer.ejs')%>
            <!-- content-main end// -->
            <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
          <script>

      var placedCount = parseInt("<%= placedcount %>");
      var deliveredCount = parseInt("<%= deliveredcount %>");
      var cancelledCount = parseInt("<%= cancelcount %>");
      let jans = Number(document.getElementById("jans").value);
      let febs = Number(document.getElementById("febs").value);
      let mars = Number(document.getElementById("mars").value);
      let aprs = Number(document.getElementById("aprs").value);
      let mays = Number(document.getElementById("mays").value);
      let juns = Number(document.getElementById("juns").value);
      let juls = Number(document.getElementById("juls").value);
      let augs = Number(document.getElementById("augs").value);
      let seps = Number(document.getElementById("seps").value);
      let octs = Number(document.getElementById("octs").value);
      let novs = Number(document.getElementById("novs").value);
      let decs = Number(document.getElementById("decs").value);
      // sales
      let jan=Number(document.getElementById("jan").value)
        let feb=Number(document.getElementById("feb").value)
        let mar=Number(document.getElementById("mar").value)
        let apr=Number(document.getElementById("apr").value)
        let may=Number(document.getElementById("may").value)
        let jun=Number(document.getElementById("jun").value)
        let jul=Number(document.getElementById("jul").value)
        let aug=Number(document.getElementById("aug").value)
        let sep=Number(document.getElementById("sep").value)
        let oct=Number(document.getElementById("oct").value)
        let nov=Number(document.getElementById("nov").value)
        let dec=Number(document.getElementById("dec").value)
      
        var options = {
          series: [{
            name: "Desktops",
            data: [jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec]
        }],
          chart: {
          height: 350,
          type: 'line',
          zoom: {
            enabled: false
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'straight'
        },
        title: {
          text: 'Sales Trends by Month',
          align: 'left'
        },
        grid: {
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        xaxis: {
          categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep','oct','nov','dec'],
        }
        };

        var chart = new ApexCharts(document.querySelector("#myChart1"), options);
        chart.render();
      


      var barOptions = {
        series: [
          {
            name: "Servings",
            data: [
              jans,
              febs,
              mars,
              aprs,
              mays,
              juns,
              juls,
              augs,
              seps,
              octs,
              novs,
              decs,
            ],
          },
        ],
        annotations: {
          points: [
            {
              x: "user",
              seriesIndex: 0,
              label: {
                borderColor: "#775DD0",
                offsetY: 0,
                style: {
                  color: "#fff",
                  background: "#775DD0",
                },
                text:"users",
              },
            },
          ],
        },
        chart: {
          height: 350,
          type: "bar",
        },
        plotOptions: {
          bar: {
            borderRadius: 10,
            columnWidth: "50%",
          },
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          width: 2,
        },
        grid: {
          row: {
            colors: ["#fff", "#f2f2f2"],
          },
        },
        xaxis: {
          labels: {
            rotate: -45,
          },
          categories: [
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "May",
            "Jun",
            "Jul",
            "Aug",
            "Sep",
            "Oct",
            "Nov",
            "Dec",
          ],
          tickPlacement: "on",
        },
        fill: {
          type: "gradient",
          gradient: {
            shade: "light",
            type: "horizontal",
            shadeIntensity: 0.25,
            gradientToColors: undefined,
            inverseColors: true,
            opacityFrom: 0.85,
            opacityTo: 0.85,
            stops: [50, 0, 100],
          },
        },
      };

      var barChart = new ApexCharts(
        document.querySelector("#myChart2"),
        barOptions
      );
      barChart.render();

       
        // user graph
       
      
        var options = {
          series: [placedCount,deliveredCount,cancelledCount],
          chart: {
          width: 380,
          type: 'pie',
        },
        labels: ['placedCount',"deliveredCount",'cancelledCount'],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#myChart3"), options);
        chart.render();
      
      
      
          </script>
            
           