<%- include('./layout/admin_header.ejs') %>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle mb-0">
            <thead class="table-light">
                <tr>
                    
                    <th class="align-middle" scope="col">No</th>
                    <th class="align-middle" scope="col">Name</th>
                    <th class="align-middle" scope="col">Email</th>
                    <th class="align-middle" scope="col">Mobile Number</th>
                    <th class="align-middle" scope="col">Status</th>
                    <th class="align-middle" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% let count = 1 %>
                <% if (users.length > 0) {
                    for (let i = 0; i < users.length; i++) { %> 
                        <tr>
                           
                            <td class="align-middle"><%= count %></td>
                            <td class="align-middle"><%= users[i].name %></td>
                            <td class="align-middle"><%= users[i].email %></td>
                            <td class="align-middle"><%= users[i].phone %></td>
                            <td class="align-middle">
                                <% if (users[i].is_verified == 0) { %>
                                    <span class="badge bg-danger">Not Verified</span>
                                <% } else { %>
                                    <span class="badge bg-success">Verified</span>
                                <% } %>
                            </td>
                            <td class="align-middle">
                                <% if (users[i].is_block === false) { %> 
                                    <a href="/admin/userBlock/<%= users[i]._id %>" class="btn btn-danger btn-sm">Block</a>
                                <% } else { %>
                                    <a href="/admin/userBlock/<%= users[i]._id %>" class="btn btn-success btn-sm">Unblock</a>
                                <% } %>
                            </td>
                        </tr>
                        <% count++ %>
                    <% }
                } else { %>
                    <tr>
                        <td colspan="7" class="text-center">User not found</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<%- include('./layout/admin_footer.ejs') %>