<%- include('./layouts/header.ejs')%>
	

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Shop Category page</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="/product">Shop<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Fashon Category</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				
				<div class="sidebar-filter mt-50">
					<div class="top-filter-head">Product Filters</div>
					<div class="common-filter">
						<div class="head">Category</div>
						<form action="#">
							<ul>
								<% category.forEach((value, index) => { %>
									<li class="filter-list">
										
										<label for="<%= value.name %>" style="color: black;">
											<a href="/product?category=<%= value.name %>"><b><%= value.name %></b></a>
										  </label>
									  </li>
								<% }) %>
							  </ul>
							  
							  
						</form>
					</div>
					
					<div class="common-filter">
						<div class="head">Price</div>
						<div class="price-range-area">
							<div id="price-range"></div>
							<div class="value-wrapper d-flex">
								<div class="price">Price:</div>
								<span>$</span>
								<div id="lower-value"></div>
								<div class="to">to</div>
								<span>$</span>
								<div id="upper-value"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
				<!-- Start Filter Bar -->
				<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form class="form-inline search-form">
        <div class="form-group mx-sm-3 mb-2">
          <label for="searchInput" class="sr-only">Search Products</label>
          <input type="text" name="search" class="form-control search-input" id="searchInput" placeholder="Search products">
        </div>
        <button type="submit" class="btn btn-primary mb-2 search-btn">Search</button>
      </form>
    </div>
  </div>
</div>
				<!-- End Filter Bar -->
				<!-- Start Best Seller -->
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">
						<!-- single product -->
						<% productData.forEach((value)=> {%>
							
							<div class="col-lg-4 col-md-6">
								<div class="single-product card shadow p-1">
									<a href="/singleproduct/?id=<%=value._id%>">
										<img class="img-fluid" src="/admin_asset/imgs/<%=value.image[0] %>" alt="">
									</a>
									<div class="product-details">
										<h6><%= value.name %></h6>
										<div class="price">
											<h6>₹<%= value.price %></h6>
										</div>
										<div class="prd-bottom">
	
											<a href="" class="social-info" onclick="addtocart('<%=value._id%>')">
												<span class="ti-bag"></span>
												<p class="hover-text">add to bag</p>
											</a>
											<a href="" class="social-info" onclick="addWishlist('<%=value._id%>')">
												<span class="lnr lnr-heart"></span>
												<p class="hover-text">Wishlist</p>
											</a>
										</div>
									</div>
								</div>
							</div>
						<%})%>
						<!-- single product -->
						
					</div>
				</section>
				<!-- End Best Seller -->
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">
					
					<div class="pagination" >
						<%for(let j=1;j<=totalpage;j++){%>
						<a href="/product?page=<%=j%>" class="prev-arrow"><%= j %></a>
					
						<%}%>
					</div>
				</div>
				<!-- End Filter Bar -->
			</div>
		</div>
	</div>

	<!-- Start related-product Area -->




	<%- include('./layouts/footer.ejs')%>